div.mytown.main-internal > div.row {
    /*min-height: 60vh;*/
}

ul.selectormap_list {
    list-style: none inside;
    padding-left: 1rem;
    li {
        @media screen and (max-width: 800px) {
            display: inline-block;
            padding-right: 1.5rem;
        }
    }
}

#config-controls {
    border-left: 0.25rem solid $ctdata-extra-dark-blue;
}

towntable, townline {
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    position: relative;
    float: left;
    width: 100%;
}

hr {
    border-top: 0.3rem solid $ctdata-extra-dark-blue;
}