@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$heavy: 700;

$font1: 'Roboto Condensed', sans-serif;

$white: #fff;
$mint-green: #d6e9c6;
$green: #6da53f;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

$ctdata-extra-dark-blue:#4670A7;
$ctdata-dark-blue:#1EACF1;
$ctdata-medium-blue:#63D1F4;
$ctdata-light-blue:#9EDDFC;
$ctdata-extra-light-blue:#CDEFFE;

$highlight-blue: #4A90E2;

$extra-light-grey: #ececec;
$light-grey: #C8C8C8;
$dark-grey: #979797;
$extra-dark-grey: #4A4A4A;
$light-tan: #F2F2EA;
$extra-light-tan: #F7F6F2;

.extra-dark-blue, {background:$ctdata-extra-dark-blue;}
.dark-blue {background: $ctdata-dark-blue;}
.medium-blue {background: $ctdata-medium-blue;}
.light-blue {background: $ctdata-light-blue;}
.extra-light-blue {background: $ctdata-extra-light-blue;;}

$sidebar-menu-width: 300px;
