.footer {
    clear: both;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    min-height: calc(2rem+6px);
    background: #333;
    color: white;
    width: 100%;

    .copyright {
        clear: both;

        p {
            width: 100%;
            text-align: center;
            font-size:1rem;
            color: lightgrey;
            padding: 0.5rem 0.1rem 0;
        }
    }

    div.footer-links {
        clear: both;
        width: 100%;
        background-color: $white;
        border-top: 2px solid $ctdata-extra-dark-blue;
        text-align: center;

        >div {
            display: inline-block;
        }

        a {
            background-color: $white;
            display: inline-block;

            i {
                color: $ctdata-extra-dark-blue;
            }
        }
    }

    @media screen and (min-width: 650px) {
        div.footer-links {
            /*height: 8vh;*/
            /*padding: 0 1rem;*/

            a {
                margin: 0.5rem;
                padding: 0.5rem;
            }
        }
    }

    @media screen and (max-width: 649px) {
        div.footer-links {
            a {
                padding: 0.2rem 1rem;

                i {
                    display: none;
                }
            }
        }
    }
}