<div class="container-fluid main-internal" dw-loading="data">
    <div class="row" id="config">
        <div class="col-sm-12 step_title">
            <h1>
                Select Options
            </h1>
            {{ config.test_start }}
            {{ config.test_end }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 instructions">
            <p>
                You can view business entity formations:
            <ul>
                <li>Over a chosen time period, from {{ startMonth }} {{ startYear }} to {{ endMonth }} {{ endYear
                    }}</li>
                <li>by Counties, Towns, or Councils of Government</li>
                <li>by Year, Quarter, or by Month</li>
                <li>For one or more selected business entity type(s)</li>
            </ul>
            </p>
            <p>
                A series of charts and corresponding data tables will display below, grouped by either the chosen time
                scale or by business entity type. You will make this selection under the "View By" selection.
            </p>
            <p>
                Addresses of the business represent the current town of the business and not necessarily the town where
                it was originally formed. <a ng-click="collapsed['metadata']=false;scrollTo('metadata');">See metadata
                at the bottom of the page for more information.</a>
            </p>
        </div>
        <div id="config-controls" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <div class="row" ng-repeat="control in ['Geography', 'Time']">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-4">
                    <h4 class="control-label">{{ configOptions[control].label }}</h4>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
                    <label ng-repeat="option in configOptions[control].options" class="btn ctdata-btn-toggle"
                           ng-model="config[(configOptions[control].name | lowercase)]"
                           uib-btn-radio="(option | lowercase)">
                        {{ option }}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-4">
                    <h4 class="control-label">Date Range</h4>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
                    <span>Start</span>
                    <div class="btn-group" uib-dropdown is-open="startStatus.isopen">
                        <button id="start-date-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            {{ config.start }}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="start-date-button">
                            <li class="dropdown-menu-option" role="menuitem" ng-click="selectStart(option)" ng-repeat="option in activeChoices">{{option.label}}</li>
                        </ul>
                    </div>
                    <span>End</span>
                    <div class="btn-group" uib-dropdown is-open="endStatus.isopen">
                        <button id="end-date-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            {{ config.end }}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li class="dropdown-menu-option" role="menuitem" ng-click="selectEnd(option)" ng-repeat="option in activeChoices">{{option.label}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-4">
                    <h4 class="control-label">Business Entity Types</h4>
                    <p class="text-danger" ng-hide="(config.structures.length>0)">Please select at least one entity
                        type!</p>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
                    <div isteven-multi-select input-model="structures" output-model="config.structures"
                         button-label="label" item-label="label" helper-elements="reset" tick-property="ticked"
                         max-height="10rem">
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="control in ['Facet', 'Type']">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-4">
                    <h4 class="control-label">{{ configOptions[control].label }}</h4>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
                    <label ng-repeat="option in configOptions[control].options" class="btn ctdata-btn-toggle"
                           ng-model="config[(configOptions[control].name | lowercase)]"
                           uib-btn-radio="(option | lowercase)">
                        {{ option }}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-inline checkbox col-xs-6 col-xs-offset-2 col-lg-offset-4">
                    <button type="button" class="btn ctdata-btn ctdata-btn-wide" ng-disabled="!canVisualize()"
                            ng-click="config.submit=true">Visualize
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12 step_title">
            <h1>
                See the data
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-link" ng-click="scrollTo('config')">
                        Choose Different Options
                    </button>
                    <button type="button" class="btn btn-sm btn-link" csv-header="getCSVHeader()"
                            csv-column-order="getCSVHeader()" ng-csv="getCSVData()"
                            filename="business-entity-formations.csv" ng-disabled="data.length<1">
                        <!-- <button type="button" class="btn btn-sm btn-link" ng-click="printData()"> -->
                        Download Raw Data
                    </button>
                </div>
            </h1>
        </div>
        <div class="col-sm-12" id="output_container">
            <div ng-repeat="facet in data" class="col-sm-12 facet-container">
                <div class="facet-title">
                    <h3 ng-click="collapsed[facet.key]=!collapsed[facet.key]" title="Click to collapse">
                        {{facet.key}}
                        <i class="fa pull-right"
                           ng-class="{'true' : 'fa-plus-circle', 'false' : 'fa-minus-circle'}[collapsed[facet.key] || false]"></i>
                    </h3>
                </div>
                <div>
                    <dataviz ng-class=config.type last="$last" type=config.type config=facet.config data=facet.values
                             uib-collapse="collapsed[facet.key]"></dataviz>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row metadata" id="metadata">
        <div class="col-xs-12 metadata-toggle" ng-click="collapsed['metadata']=!collapsed['metadata']">
            <span>View Metadata</span>
            <i class="fa"
               ng-class="{'true' : 'fa-plus-circle', 'false' : 'fa-minus-circle'}[collapsed['metadata']]"></i>
        </div>
        <div class="col-xs-12" uib-collapse="collapsed['metadata']">
            <div ng-include="'/templates/metadata.html'"></div>
        </div>
    </div>
</div>
